<div class="container flex content-center justify-center">
  <form [formGroup]="form" class="shadow-xs">
    <h1 class="title">Register</h1>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" name="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" name="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" name="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" name="confirmPassword" />
    </mat-form-field>
    <button matButton="tonal" type="button" (click)="register()">Register</button>
    <hr />
    <div class="text-md">
      Already have an account? <a class="cursor-pointer font-semibold">Login now!</a>
    </div>
  </form>
</div>
