<div class="min-w-100 h-14 bg-white shadow-2xs flex items-center flex-row">
  <div class="container flex items-center flex-row justify-between">
    <a class="text-2xl cursor-pointer" routerLink="dashboard">BabelStack</a>
    <div class="flex flex-row items-center justify-center gap-2">
      @if (!user()) {
      <a class="cursor-pointer" routerLink="login">Login</a>/
      <a class="cursor-pointer" routerLink="register">Register</a>
      } @else {
      <a class="cursor-pointer" routerLink="library">Library</a>
      <a class="cursor-pointer" routerLink="wishlist">Wishlist</a>
      <a class="cursor-pointer" routerLink="friends">Friends</a>
      }
    </div>
  </div>
</div>
